<!DOCTYPE html>
<html>
<head>
  <title>SuperBoards</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if flash[:errors] %>
<%= flash[:errors].join("<br>") %>
<% end %>


<%= yield %>

</body>
</html>
